* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: Raleway;
    max-width: 1400px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

header nav {
    width: 400px;
    display: flex;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul li {
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

header nav ul li:hover {
    border-top: 2px solid blue;
}

header nav ul li a {
    text-decoration: none;
}

.bloc_logo {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

/*Flex*/

.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexaround {
    display: flex;
    justify-content: space-around;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbetween2 {
    display: flex;
}

.flexbetweenmob {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexrow {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


#i {
    display: flex;
}

.groupe {



    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 10px;
}

.groupe2 {



    display: flex;
    flex-direction: column;

    height: 100%;


}

.margetitre {

    margin: 16px 0 7px 0;
}


/*DECO*/
.decorationNone {
    text-decoration: none;
}

.bordurenone {
    border: none;
}

/* COLOR TEXT*/

.textegras {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
}


.texteSLOGAN {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.textePLUS {
    margin-left: 10px;
    right: 82.84%;
    top: 89.3%;
    bottom: 7.35%;


    /* Title/Filter */


    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.colorbleu {
    color: #0065fc;
}

.colorgris {
    color: #f2f2f2;
}

/* COLOR BACKGROUND*/
.backbleu {
    background-color: #0065fc;
}

.backgris {
    background-color: #f2f2f2;
}

.backmob {
    background-color: #f2f2f2;
}

.margelogo {
    margin-bottom: 7px;
    width: 61px;
    height: 19px;
}

/*HEADER*/

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.borduresearch {
    width: 100%;
    border-radius: 15px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
}

.paddingsearch {
    padding-left: 20px;
}

.recherche {
    height: 50px;
    width: 100%;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 0.5px solid #f2f2f2;
}

.iconsize {
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.buttonsearch {
    height: 50px;
    width: 120px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;

    border-radius: 0 15px 15px 0;
}

.buttonmobile {
    display: none;
}

.mobile {
    display: flex;
    justify-content: space-between;
}

/*Filtres*/

.margefiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}

.filtre {
    display: flex;
    align-items: center;
}

.filtre2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.margefiltretitre {
    margin-right: 20px;
}

.filtretexteicons {
    border: 2px solid #D9D9D9;
    width: auto;
    margin-right: 20px;
    height: 50px;
    border-radius: 30px;
}

.filtretexteicons:hover {
    background-color: #deebff;
}


.filtretexte {
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 0 25px 25px 0;
    font-style: normal;
}

.filtreicons {
    width: auto;
    height: 52px;
    color: #0065fc;
    margin-left: 10px;
    margin-right: 10px;
}

.bold {
    display: inline;
    font-weight: bold;
}

/*info*/

.info {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;



}

.parenticon {
    width: 24px;
    height: 24px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}

/*hebergement*/
.sizehebergement {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    height: 626px;
}

.sizepopulaire {


    height: 626px;
    width: 35%;
    border-radius: 20px;
    margin-left: 40px;
    padding: 40px;
    margin-bottom: 40px;




}


.groupepopulaire {
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.espace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}



.cubehebergement {
    position: relative;

    width: 30%;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 11px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.titre {
    height: auto;
    padding-left: 16px;
    width: 90%;



    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.titrepopulaire {
    height: auto;
    left: 45%;
    width: 50%;
    top: 16px;
    /* Card/Title */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* Nuit à partir de 25€ */
.nuit {
    width: 100%;
    height: auto;
    left: 16px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}


.titrebloc {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.etoilesclass {
    display: flex;
    justify-content: space-around;
    height: 12px;
    width: 80px;
    left: 16px;
    top: 176px;
    padding-left: 16px;
}


.etoilesclass2 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 12px;
    width: 68px;
    left: 45%;
    top: 120px;
}

.etoilesbleu {
    background-image: url("../images/icon/etoile.png");
    background-size: cover;
    height: 12px;
    width: 12px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.etoilesgris {
    background-image: url("../images/icon/etoilegris.png");
    background-size: cover;
    height: 12px;
    width: 12px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    bottom: 37.69%;
}

.imghebergement {
    object-fit: cover;
    width: 100%;
    height: 124px;
    bottom: 37.69%;
    border-radius: 15px 15px 0 0;
    border: 5px solid #FFFFFF;
}

/*populaires*/
.cubepopulaire {
    display: flex;




    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.imagepopulaire {
    background-size: cover;
    background-position: center;
    height: auto;
    width: 40%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.Activites {
    box-sizing: border-box;
    width: 100%;
    height: 493px;
    left: 50px;
}

section a {

    text-decoration: none;
    display: contents;

}



.cubeactivite {
    height: 445px;
    width: 21%;
    margin-right: 11px;
}


.Titreacti {
    position: relative;
    width: 100%;
    height: 56px;
    bottom: 58px;
    display: flex;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    font-size: 16px;
    padding-left: 19px;
    padding-right: 19px;
    align-items: center;
    color: #000000;
    background: #C4C4C4;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    /* White */
    background: white;
    border-radius: 0px 0px 20px 20px;
}

.imgactivites {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    object-fit: cover;
}


/*Footer */
footer {
    background-color: #F2F2F2;
    display: flex;
    padding-left: 46px;
    padding-top: 45px;
    margin-top: 60px;
}

.footer_colonne {
    width: 32%;
    padding-bottom: 30px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer li {
    margin-bottom: 13px;
    font-size: 17px;
}

footer ul li a {
    text-decoration: none;
}

/*VERSION TABLETTE*/

@media screen and (min-width: 769px) and (max-width: 992px) {

    body {
        padding: 0 30px 0 30px;
    }

    .flexaround {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .sizehebergement {
        width: 100%;

        margin-right: 11px;
    }

    .mobile {
        padding-right: 20px;
    }

    .cubehebergement {
        width: 30%;
        height: 199px;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    .sizepopulaire {
        height: 278px;
        width: 100%;


        margin-left: 0;
        margin-top: 30px;
    }



    .espace {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    .groupepopulaire {
        flex-direction: row;
    }

    .cubepopulaire {
        width: 30%;
        height: 144px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        margin-right: 11px;
    }

    .Activites {
        height: 331px;
    }


    .cubeactivite {
        height: 267px;
        width: 20%;
        margin-right: 11px;
    }

    .imgactivites {
        height: 267px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        object-fit: cover;
    }




    section h2 {
        font-size: 2.5vmax;
    }
}


/*VERSION MOBILE */

@media screen and (max-width: 769px) {

    header {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }


    header .bloc_logo {
        display: flex;
        height: auto;
    }

    .margelogo {
        margin-bottom: 7px;
        margin-top: 21px;
    }

    header nav ul li:hover {
        border-top: none;
        border-bottom: 4px solid #0065fc;
    }

    header nav ul {
        display: flex;
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    header nav ul li {
        flex: auto;
        width: 100%;
        justify-content: space-around;
        border-bottom: 4px solid #F2F2F2;
        height: 75px;
    }

    header nav {
        width: 100%;
        display: flex;
    }

    .texteSLOGAN {
        padding-left: 20px;
        display: flex;
        align-items: center;
    }

    section p {
        padding-left: 20px;
    }

    .info {
        padding-left: 20px;
    }

    .info p {
        padding-left: 0;
    }

    .buttonsearch {
        display: none;
    }



    .mobile {
        display: flex;
        justify-content: space-between;
    }

    .buttonmobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 15px;
        gap: 10px;
        color: white;
        width: 50px;
        height: 12%;
        left: 282px;
        top: 0px;
        /* Blue */
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .filtre {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        width: 100%;
    }

    .backmob {
        background-color: white;
    }

    .flexaround {
        flex-direction: column-reverse;
    }

    .sizepopulaire {
        height: 580px;
        width: 100%;
        margin-left: 0;
    }

    .sizehebergement {
        height: auto;
        width: 100%;
    }

    .flexbetweenmob {
        display: flex;
        flex-direction: column;
    }

    .cubehebergement {
        width: 100%;
    }


    .Activites {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        left: 50px;
        padding: 40px;
    }

    .cubeactivite {
        height: 190px;
        width: 100%;
        margin-right: 11px;
        margin-bottom: 30px;
    }

    .imgactivites {
        height: 190px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        object-fit: cover;
    }

    .textePLUS {
        display: none;
    }


    footer {
        flex-direction: column;
        padding-left: 40px;
        margin-top: 0;
        width: 100%;
    }

    .footer_colonne {
        width: 100%;
    }

    .margefiltre {
        margin-top: 0;
    }

    .margefiltretitre {
        width: 100%;
    }

    .filtretexteicons {
        width: 50%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .textegras {
        font-size: 13px;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: 0em;
        width: 100%;
    }

    .titrepopulaire,
    .titrehebergement {
        font-size: 2vmax;
    }


    .blockinput {
        width: 70%;
    }

    .filtretexteicons:hover {
        border: 2px solid #D9D9D9;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 25px;
        background-color: white;
    }



    .borduresearch {
        justify-content: center;
        margin-top: 36px;



    }

}